.swal2-popup {
    background-color: $secondary-color !important;
    color: $white;
    border-radius: 15px !important;
}

.swal2-title {
    font-family: 'Roboto-Light', 'sans-serif' !important;
}

.swal2-html-container,
.swal2-content {
    font-family: 'Roboto-Extra-Light', 'sans-serif' !important;
}

.swal2-confirm {
    background-color: $primary-color !important;
    color: $secondary-color !important;
    border-radius: 15px !important;
}

.swal2-confirm:hover {
    background-color: $primary-color !important;
}

.swal2-cancel {
    background-color: $background-color !important;
    color: $white !important;
    border-radius: 15px !important;
}

.swal2-cancel:hover {
    background-color: darken($background-color, 10%) !important;
}