$primary-color: #FCB331;
$secondary-color: #363434;
$tertiary-color: #1E1E1E;
$quaternary-color: #454242;
$background-color: #494444;
$footer-background: #8D8D8D;
$title-light-font: #f0f0f0;
$white: #FFFFFF;
$remind-password: #6B6B6B;
$placeholder-color: #797979;
$text-container-color: #2B2B2B;
