$primary-color: #FCB331;
$secondary-color: #363434;
$tertiary-color: #1E1E1E;
$background-color: #494444;
$footer-background: #8D8D8D;
$title-light-font: #f0f0f0;
$white: #FFFFFF;
$remind-password: #6B6B6B;

